<h1>Enter Your Favourite food and name below!</h1>
<%= simple_form_for @food do |f| %>
    <%= f.input :name %>
    <%= f.input :food %>
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>